/* Google Fonts ======================== */
@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,400i');
/* CSS Reset =========================== */
body, nav, section, footer, article, h1, h2, h3, p, a, time, ul, li, dl, dt, dd {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 100%;
	text-decoration: none;
	font-weight: normal;
	color: inherit;
	box-sizing: border-box;
}

/* Typography Defaults ================= */
html{
	font-size: 62.5%;
}
body{
	/* font-size: 1.4rem;
	line-height: 1.6;
	/* 1st new font family */
	/* font-family: "roboto", sans-serif; */
	font:1.4rem/1.6 "roboto", sans-serif;
	/* 1st new foreground color */
	color: #BEC7C7;
	/* gradient */
	background:linear-gradient(#121317,#544859)
}
h1, h2{
	line-height: 1;
	/* 2nd new font family */
	font-family:"lato", sans-serif;
	color:#ffffff;
}
h1{
	font-size: 7rem;
	margin:2rem 0 4rem 0;
}
h2{
	font-size: 2.6rem;
	margin: 2rem 0 1rem 0;
}
h3{
	font-size:1.6rem;
	color:#aaaaaa;
	margin-bottom: 1rem;
}
p{
	margin-bottom:2rem;
}
img{
	display:block;
	min-height:15rem;
	background:rgba(255,255,255,.1)
}
a{
	display:inline-block;
	padding:.5rem 1rem;
	background:rgba(255,255,255,.1);
	color:#eeeeee;
}
/* Default Structure =================== */
nav, body > section, footer{
	max-width:100rem;
	margin:0 auto;
	padding:3rem;
	/* outline:2px solid darkgoldenrod; */
}
body > section{
	border-bottom:1px solid rgba(255,255,255,.1);
}

body > section::after{
	content:"";
	display:block;
	clear:both;
}
footer::after{
	content:"";
	display:block;
	clear:both;
}
/* Header ============================== */
header{
	/* 1st new background color */
	background:#c7d3e6
}
nav a{
	color:#555555
}
#logo{
	display:inline-block;
	width:10rem;
	min-height:3rem;
	background:rgba(0,0,0,.2);
}
nav li{
	display:inline-block;
}
/* Blog ================================ */
#blog article:nth-of-type(1){
	border-top:.5rem solid #e74c3c;
}
#blog article:nth-of-type(2){
	border-top:.5rem solid #f1c40f;
}
#blog article:nth-of-type(3){
	border-top:.5rem solid #1abc9c;
}
#blog article:nth-of-type(4){
	border-top:.5rem solid #e74c3c;
}
#blog article:nth-of-type(5){
	border-top:.5rem solid #f1c40f;
}
#blog article:nth-of-type(6){
	border-top:.5rem solid #1abc9c;
}

#blog article{
	width:calc(100%/3 - 2rem);
	float:left;
}
#blog article:not(:nth-of-type(3)), #blog article:not(:nth-of-type(6)){
	margin-right:2rem;
}
/* News ================================ */
time span{
	font-size:5rem;
	color:#eeeeee;
	vertical-align:middle;
}

#news article{
	width:calc(100%/4 - 6rem/4);
	float:left;
}

#news article:not(:nth-of-type(4)){
	margin-right:2rem;
}
/* About================================ */

#about section{
	width:calc(100%/2 - 2rem);
	float:left;
}
#about section:first-of-type{
	margin-right:2rem;
}

/* Donation ============================ */
#donation{
	/* new background image */
	background:url("https://images.pexels.com/photos/1266810/pexels-photo-1266810.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")no-repeat;
}
/* Footer ============================== */
footer h2{
	font-size:1.6rem;
	/* 2nd new foreground color */
	color:#d6d6d6;
	margin-bottom:1rem;
}
#tags li{
	display:inline-block;
}
#tags a{
	/* 2nd new background color */
	background:#c5835d;
	color:#eeeeee;
	padding:0 .5rem .25rem .5rem;
}

footer section{
	width:calc(30%-2rem);
	margin-right:2rem;
	float:left;
}
#tags{
	width:calc(40%);
	margin-right:0rem;
}