/* Google Fonts ======================== */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet');
/* CSS Reset =========================== */
body, nav, section, footer, article, h1, h2, h3, p, a, time, ul, li, dl, dt, dd {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 100%;
	text-decoration: none;
	font-weight: normal;
	color: inherit;
	box-sizing: border-box;
}
/* typography defaults */
html{
	font-size:62.5%;
	box-sizing:border-box;
	display:block;
}
body{
	font:1.5rem/1.8 "Barlow", sans-serif;
	width:100%;
}
h1, h2, h3{
	line-height: 1;
	color:#222;
}
h1{
	font: 10.5rem;
	margin:2rem 0 1rem 0;
	display:none;
}
h2{
	font-size: 4rem;
	margin: 3.5rem 0 1.5rem 0;
	color:#fff;
	font-weight:bold;
}
h3{
	font-size:3rem;
	color:#222;
	font-weight:bold;
	margin:3rem 0 3rem 0;

}
p{
	margin-bottom:3.5rem;
	color:#666;
	font-size: 1.8rem;
}
img{
	display:block;
	max-width:75rem;
	border-radius:1rem;
}
li{
	margin:1rem;
	display:inline-block;
}
/* Header */
header{
	background:url(../images/breadcrumb.svg);
	background-size:cover;
}
.wrapper{
	color:#fff;
	max-width:100rem;
	margin:auto;
	padding:8rem;
}
.wrapper ul, .wrapper ol{
	font-size:1.8rem;
}
nav li:nth-of-type(7){
	padding:1rem 2.5rem 1rem 2.5rem;
	background:#504ddd;
	border-radius:1rem;

}
nav > a{
	display:inline-block;
}
nav > ul{
	display:inline-block;
}
.wrapper img{
	width:20rem;
	margin-right:20rem;
}
/* breadcrumbs */
#breadcrumbs{
	width:28rem;
	margin-left:auto;
	margin-right:auto;
	padding-top:11.5rem;
	padding-bottom:0rem;
}
#breadcrumbs li{
	display:inline;
}
#breadcrumbs li:nth-of-type(2){
	color:#ff5757;
}
/* default structure */
main{
	max-width:100rem;
	margin:auto;
	padding:8rem;
}
main::after{
	content:"";
	display:block;
	clear:both;
}
main > article{
	width:calc(60%);
	float:right;
}
article li{
	color:#666;
	font-size:1.8rem;
	margin:.5rem;
}
main article p img{
	width:calc(100%/2 - 2rem);
	float:left;
}
main article p img:first-of-type{
	margin-right:2rem;
}
/* aside */
aside{
	width:calc(40% - 5rem);
	float:left;
	margin-right:5rem;
}
aside section{
	padding: 1.5rem;
	box-shadow:0 0 2.5rem .5rem rgba(0, 0, 0, .1);
	border-radius:1rem;
	margin-bottom:2rem;
	font-size:1.75rem;
}
aside li{
	margin-bottom:1.25rem;
	display:block;
}
aside section:nth-of-type(2) li{
	color:#504ddd;
	border: .25rem solid #504ddd;
	border-radius:1rem;
	padding:1rem 2rem;
	margin-bottom:2.5rem;
}
aside h2{
	color:#222;
}
/* footer */
footer{
	max-width:100%;
	background:url(../images/breadcrumb.svg);
	background-size:cover;
	color:#fff;
	font-size:1.5rem;
}
#footer-area{
	max-width:60%;
	margin:auto;
	padding:5rem 15rem 5rem 15rem;
}
footer::after{
	content:"";
	display:block;
	clear:both;
}
footer section{
	width:calc(100%/4 - 6rem/4);
	float:left;
}
footer section:not(:nth-of-type(4)){
	margin-right:2rem;
}
footer p{
	color:#fff;
}
footer h3{
	color:#fff;
}
footer > a{
	padding:1rem;
	background:#504ddd;
	border-radius:1rem;
}
footer > p, footer > ul{
	display:inline;
}
#copyright{
	clear:both;
	display:block;
	border-top:1px solid #2a355e;
	padding:1rem 0;
}
#copyrightcontainer{
	max-width:60%;
	margin:auto;
}

#copyrightcontainer > p{
	width:calc(100%/2 - 10rem);
	margin-right:10rem;
	float:left;
}
#copyrightcontainer > p > a{
	color:#ff5757;
}
#copyrightcontainer > ul{
	float:right;
}
#copyrightcontainer > ul > li{
	margin:0;
}
#copyrightcontainer > ul > li:nth-of-type(1){
	margin-right:3rem;
}
#social-media-links > li{
	padding:2rem 2rem 1rem 2rem;
	background:#504ddd;
	border-radius:1rem;
	margin:1rem;
	display:inline;
}
footer section:nth-of-type(2) li{
	display:block;
}
#social-media-links li:nth-of-type(1){
	background:url(../images/fb.svg) no-repeat center/3rem;
}
#social-media-links li:nth-of-type(2){
	background:url(../images/insta.svg) no-repeat center/3rem;
}
#social-media-links > li:nth-of-type(3){
	background:url(../images/twit.svg) no-repeat center/3rem;
}
#social-media-links > li:nth-of-type(4){
	background:url(../images/yt.svg) no-repeat center/3rem;
}
footer section:nth-of-type(3) ul > li{
	padding:1rem;
	background:#504ddd;
	border-radius:1rem;
	margin:1rem;
	max-width:20rem;
	display:block;
}
footer section:nth-of-type(4) input{
	border:2px solid #e8e8e8;
	padding: 1rem 1.5rem 1.2rem 1.5rem;
	border-radius:1rem;
	width:100%;	
	background-color:transparent;
}
footer section:nth-of-type(4) a{
	display:block;
	padding:1rem;
	background:#504ddd;
	border-radius:1rem;
	margin-top:2rem;
}
input{
	border: .25rem solid #fff;
}