/* Google Fonts ======================== */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Barlow:wght@400;700&display=swap');
/* CSS Reset =========================== */
body, nav, section, footer, article, h1, h2, h3, p, a, time, ul, li, dl, dt, dd {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 100%;
	text-decoration: none;
	font-weight: normal;
	color: inherit;
	box-sizing: border-box;
}
/* typography defaults */
html{
	font-size:10px;
	box-sizing:border-box;
	display:block;
}
body{
	font-size: 1.5rem;
	line-height: 1.8;
	font-family: 'abel', sans-serif;
	font-family: 'barlow', sans-serif;
}
h1, h2, h3{
	line-height: 1;
	color:#222;
}
h1{
	font-size: 10.5rem;
	margin:2rem 0 1rem 0;
	display:none;
}
h2{
	font-size: 4rem;
	margin: 3.5rem 0 1.5rem 0;
	color:#fff;
	font-weight:bold;
}
h3{
	font-size:3rem;
	color:#222;
	font-weight:bold;
	margin:3rem 0 3rem 0;

}
h4{
	font-size:3rem;
	font-weight:bold;
}
p{
	margin-bottom:3.5rem;
	color:#666;
}
img{
	display:block;
	max-width:75rem;
	border-radius:1rem;
}

body{
	width:100%;
	height:auto;
}
li{
	margin:1rem;
	display:inline-block;
	position:relative;
}
/* Header */
.intro{
	background-image:url(../images/breadcrumb.svg);
	background-size:cover;
	color:#fff;
}
.intro ul, .intro ol{
	font-size:1.8rem;
}
header ul{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
/* these used to pertain to the dropdown functionality, but have since been removed */
/* nav > ul ul{
	display:none;
	color:#222;
	position: absolute;
	padding-left:3.5rem;
	padding-right:7.5rem;
	background-color:#fff;
	width:25rem;
	border: 1px solid rgba(0,0,0,.15);
	border-radius:1.5rem;
} */
/* nav li:hover ul{
	display:block;
} */
/* nav li:hover ul li{
	display:block;
} */
nav li:nth-of-type(7){
	padding:1rem 2.5rem 1rem 2.5rem;
	background-color:#504ddd;
	border-radius:1rem;

}
nav{
	display:flex;
}
#logo{
	width:20rem;
	margin-right:20rem;
}
/* breadcrumbs */
#breadcrumbs{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding-top:3.5rem;
	padding-bottom:7.5rem;
}
#breadcrumbs li{
	display:inline;
}
#breadcrumbs li:nth-of-type(2){
	color:#ff5757;
}
/* default structure */
main, header{
	max-width:100rem;
	margin:0 auto;
	padding:8rem;
}
main > article{
	width:60%;
	float:right;
}
/* aside */
aside{
	width:35%;
	float:left;
}
aside section{
	padding: 1.5rem;
	box-shadow:0 0 2.5rem .5rem rgba(0, 0, 0, .1);
	border-radius:1rem;
	margin-bottom:2rem;
	font-size:1.75rem;
}
aside li{
	margin-bottom:1.25rem;
	display:block;
}
#download li{
	color:#504ddd;
	border: .25rem solid #504ddd;
	border-radius:1rem;
	padding:1rem 2rem;
	margin-bottom:2.5rem;
}
aside h2{
	color:#222;
}
/* footer */
footer{
	clear:both;
	width:100%;
	background-image:url(../images/breadcrumb.svg);
	background-size:cover;
	color:#fff;
	padding:5rem 15rem 5rem 15rem;
	font-size:1.5rem;
	margin-left:0 auto;
	margin-right:0 auto;
}
footer p{
	color:#fff;
}
footer h3{
	color:#fff;
}
footer > a{
	padding:1rem;
	background-color:#504ddd;
	border-radius:1rem;
}
#social-media-links > li{
	padding:2rem 2rem 1rem 2rem;
	background-color:#504ddd;
	border-radius:1rem;
	margin:1rem;
	display:inline;
}
#social-media-links > li:nth-of-type(1){
	background-image:url(../images/fb.svg);
	background-repeat:no-repeat;
	background-size:3rem;
	background-position:center;
}
#social-media-links > li:nth-of-type(2){
	background-image:url(../images/insta.svg);
	background-repeat:no-repeat;
	background-size:3rem;
	background-position:center;
}
#social-media-links > li:nth-of-type(3){
	background-image:url(../images/twit.svg);
	background-repeat:no-repeat;
	background-size:3rem;
	background-position:center;
}
#social-media-links > li:nth-of-type(4){
	background-image:url(../images/yt.svg);
	background-repeat:no-repeat;
	background-size:3rem;
	background-position:center;
}
#addresses > li{
	padding:1rem;
	background-color:#504ddd;
	border-radius:1rem;
	margin:1rem;
	max-width:20rem;
}
input{
	border: .25rem solid #fff;
}